<section class="widget mb-9">
    <h3 class="headingVII fwEbold text-uppercase mb-5">product tags</h3>
    <ul class="list-unstyled tagNavList d-flex flex-wrap mb-0">
        <li class="text-center"><a href="javascript:void(0);" class="md-round d-block">Plant</a></li>
        <li class="text-center"><a href="javascript:void(0);" class="md-round d-block">Floor</a></li>
        <li class="text-center"><a href="javascript:void(0);" class="md-round d-block">Indoor</a></li>
        <li class="text-center"><a href="javascript:void(0);" class="md-round d-block">Green</a></li>
        <li class="text-center"><a href="javascript:void(0);" class="md-round d-block">Healthy</a></li>
        <li class="text-center"><a href="javascript:void(0);" class="md-round d-block">Cactus</a></li>
        <li class="text-center"><a href="javascript:void(0);" class="md-round d-block">House plant</a></li>
        <li class="text-center"><a href="javascript:void(0);" class="md-round d-block">Office tree</a></li>
    </ul>
</section>

@code {

}
