@inherits LayoutComponentBase
    <!-- set the encoding of your site -->
    <meta charset="utf-8">
    <!-- set the Compatible of your site -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- set the page title -->
    <title>Botanical - HTML5 Ecommerce Template</title>
    <!-- include the site Google Fonts stylesheet -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700%7CRoboto:300,400,500,700,900&display=swap" rel="stylesheet">

    <h3>MainLayout</h3>
    <div class="content px-4">
        @Body
    </div>

    @code {

    }
